data/
charCNN/results/
charCNN/preprocessed/
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintainted in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

.git/objects/00/43ba5998cb1939b70ce23d4ffa8d75304e2b96
.git/objects/03/c61637c989811a55957111dadef6760699089b
.git/objects/04/9dbc6cfda9913a63b5c8558bd67ce4e7d72a0a
.git/objects/06/8fd74700d2eb47894cbe2b7a69f18c46c8ec5e
.git/objects/21/b74d9382e0dae5849d8b5193770a59dd26e58b
.git/objects/50/15148af43dc3e24480a4b6b46b8700280f3808
.git/objects/54/a1fb5992a1fc32b8231b745eac022311106028
.git/objects/5a/b5b9849a9146de6d856eb8c9b64fa0b6db1acb
.git/objects/5c/099b3fc5f218af68122c5bd6dcbaa2573edff5
.git/objects/8c/269c927a3fd74043f511baa3154cb930ea57f6
.git/objects/9a/e339ba5b57b4c40b1963cf7a913a00d6931e7b
.git/objects/b2/c2268cf83c5f2d7cd65095d3e149f27cdc5689
.git/objects/b5/6367b80cbf825f95a5ddd602f0d19058491a7c
.git/objects/c0/edef59b077d4270f9c553df01b01376094dff7
.git/objects/cf/254134985b8ca180bb9369002dd07887a55890
charCNN/preprocessed/100k.npy
charCNN/preprocessed/500k.npy
charCNN/preprocessed/750k.npy
compact_reconstruction/kvq_restricted_experiment/resources/restricted_vectors.vec
compact_reconstruction/kvq_restricted_experiment/results/sep_kvq/1-10_20230614_12_27_27/inference_embedding_epoch300/embedding.txt
compact_reconstruction/kvq_restricted_experiment/results/sep_kvq/1-10_20230614_12_27_27/model_epoch_300
compact_reconstruction/kvq_restricted_experiment/results/sep_kvq/1-1_20230614_12_27_09/inference_embedding_epoch300/embedding.txt
compact_reconstruction/kvq_restricted_experiment/results/sep_kvq/1-1_20230614_12_27_09/model_epoch_300
compact_reconstruction/kvq_restricted_experiment/results/sep_kvq/1-20_20230614_12_27_27/inference_embedding_epoch300/embedding.txt
compact_reconstruction/kvq_restricted_experiment/results/sep_kvq/1-20_20230614_12_27_27/model_epoch_300
compact_reconstruction/kvq_restricted_experiment/results/sep_kvq/1-30_20230614_12_27_27/inference_embedding_epoch300/embedding.txt
compact_reconstruction/kvq_restricted_experiment/results/sep_kvq/1-30_20230614_12_27_27/model_epoch_300
compact_reconstruction/kvq_restricted_experiment/results/sep_kvq/1-3_20230614_12_27_09/inference_embedding_epoch300/embedding.txt
compact_reconstruction/kvq_restricted_experiment/results/sep_kvq/1-3_20230614_12_27_09/model_epoch_300
compact_reconstruction/kvq_restricted_experiment/results/sep_kvq/1-5_20230614_12_27_09/inference_embedding_epoch300/embedding.txt
compact_reconstruction/kvq_restricted_experiment/results/sep_kvq/1-5_20230614_12_27_09/model_epoch_300
compact_reconstruction/kvq_restricted_experiment/results/sep_kvq/3-30_20230614_12_27_27/inference_embedding_epoch300/embedding.txt
compact_reconstruction/kvq_restricted_experiment/results/sep_kvq/3-30_20230614_12_27_27/model_epoch_300
compact_reconstruction/kvq_restricted_experiment/tmp.out
data/embeddings/100k.vec
data/embeddings/500k.vec
data/embeddings/750k.vec
data/embeddings/fastText.vec
data/embeddings/fastText_r.vec
*.ckpt
